---
---

<header class="bg-slate-900 text-white w-[1763px] h-[85px] flex items-center justify-between">
	<div class="list-none">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</header>